.header {
  margin-top: -50px;
  padding-bottom: 20px;
  background-color: rgb(39, 197, 150);
  color: #fff;
  text-transform: uppercase;
}
.header__image img {
  margin-top: 20px;
  width: 250px;
  height: 250px;
}
.header__alt {
  padding-top: 20px;
  padding-bottom: 20px;
}
