@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap");

@charset "UTF-8";
* {
   padding: 0;
   margin: 0;
   bottom: 0;
}

*,
*:before,
*:after {
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
}

/*линии обводки у браузеров*/
:focus,
:active {
   outline: none;
}

a:focus,
a:active {
   outline: none;
}

/*делаем элементы блочными*/
nav,
footer,
header,
menu,
section {
   display: block;
}

/*уравнивание поведение шрифтов и элементов для разных браузеров, запрещает самопроищвольное увеличение шрифтов*/
html,
body {
   height: 100%;
   width: 100%;
   font-size: 100%;
   line-height: 1;
   font-size: 14px;
   -ms-text-size-adjust: 100%;
   -moz-text-size-adjust: 100%;
   -webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
   font-family: inherit;
}

input::-ms-clear {
   display: none;
}
button {
   cursor: pointer;
}
button::-moz-focus-inner {
   padding: 0;
   border: 0;
}
a,
a:visited {
   text-decoration: none;
}
a:hover {
   text-decoration: none;
}
ul li {
   list-style: none;
}
img {
   vertical-align: top;
}

/* обнуляем все заголовки */
h1,
h2,
h3,
h4,
h5,
h6 {
   font-size: inherit;
   font-weight: 400;
}
/*--------------------*/
.wrapper {
   max-width: 1300px;
   margin: 0 auto;
   font-family: "Montserrat";
}
.backgroungHeaderCreativeAgencyHistoryOfAgency::after {
   background-image: url("../Images and icon/background\ header.svg");
   background-repeat: no-repeat;
   background-position: 0 0;
   background-size: cover;
   height: 850px;
   content: "";
   opacity: 0.2;
   top: 0;
   left: 0;
   bottom: 0;
   right: 0;
   position: absolute;
   z-index: -1;
}

/*--------------------*/

.header {
   display: flex;
   justify-content: space-between;
}
.header__logo {
   margin-left: 6.15%;
   margin-top: 3%;
}
.header__logo_acad {
   font-size: 18px;
   color: #60606e;
   text-transform: uppercase;
}
.header__menu {
   margin-right: 6.15%;
   margin-top: 3%;
   width: 31px;
   height: 15px;
}

/*--------------------*/

.main__creativeAgency {
   display: flex;
   flex-direction: column;
   align-items: center;
}
.main__creativeAgency_were {
   width: 100px;
   height: 100%;
   background-color: #7beec7;
   margin-top: 167px;
   color: #60606e;
   font-size: 18px;
   text-transform: uppercase;
   text-align: center;
   vertical-align: middle;
}
.main__creativeAgency_were_text {
   padding-top: 11px;
   padding-bottom: 7px;
}
.main__creativeAgency_creativeAgency {
   width: 556px;
   height: 100%;
   text-align: center;
   text-transform: uppercase;
   font-size: 48px;
   color: #60606e;
   border: solid #60606e 7px;
}
.main__creativeAgency_creativeAgency_text {
   padding-top: 30px;
   padding-bottom: 30px;
}
.main__creativeAgency_info {
   width: 537px;
   height: 100%;
   margin-top: 30px;
   text-align: center;
   color: #60606e;
   font-size: 16px;
   line-height: 25px;
}
