.wrapper {
  max-width: 1300px;
  margin: 0 auto;
  padding-top: 43px;
  padding-right: 80px;
  padding-bottom: 49px;
  padding-left: 80px;
}

.green-rentangle {
  width: 69px;
  height: 22px;
  background-color: #7beec7;
  margin-top: -14px;
}

* {
  padding: 0;
  margin: 0;
  bottom: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
menu,
section,
form {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

.backgroung-header::after {
  background-image: url("../img/background header.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: cover;
  height: 885px;
  content: "";
  opacity: 0.3;
  top: 0;
  left: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100px;
}

.header__logo {
  text-transform: uppercase;
  color: #60606e;
  font-family: "Montserrat";
  font-size: calc(4px + (18 - 4) * ((100vw - 320px) / (1300 - 320)));
  z-index: 2;
}

.header__burger {
  display: block;
  position: relative;
  width: 31px;
  height: 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.header__burger:hover {
  -webkit-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
          transform: rotate(360deg);
  -webkit-transition-duration: 1s;
       -o-transition-duration: 1s;
          transition-duration: 1s;
  color: #60606e;
}

.header__burger::before,
.header__burger::after {
  content: "";
  background-color: #60606e;
  position: absolute;
  width: 100%;
  height: 1px;
  left: 0;
}

.header__burger::after {
  bottom: 0;
  width: 23px;
}

.header__burger::before {
  top: 0;
}

.header__burger span {
  position: absolute;
  background-color: #60606e;
  left: 0;
  width: 15px;
  height: 1px;
  top: 7px;
}

.main__creative-agency {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin: 156px auto 123px auto;
}

.main__creative-agency-were {
  background-color: #7beec7;
  text-transform: uppercase;
  color: #60606e;
  font-family: "Montserrat";
  font-size: calc(4px + (18 - 4) * ((100vw - 320px) / (1300 - 320)));
  padding: 11px 21px 7px 21px;
}

.main__creative-agency-h1 {
  text-transform: uppercase;
  color: #60606e;
  font-family: "Montserrat";
  font-size: calc(8px + (48 - 8) * ((100vw - 320px) / (1300 - 320)));
  border: solid #60606e 7px;
  padding: 33px 46px;
}

.main__creative-agency-info {
  color: #60606e;
  font-family: "Open Sans";
  font-size: calc(8px + 8 * (100vw / 1300));
  line-height: normal;
  max-width: 567px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  padding: 30px 9px 0px 9px;
}

.main__history-of-agency {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 123px;
  margin-bottom: 149px;
}

.main__history-of-agency-info {
  padding-top: 5.55954%;
  padding-bottom: 5.55954%;
  padding-left: 12.42604%;
}

.main__history-of-agency-info-h1 {
  text-transform: uppercase;
  color: #60606e;
  font-family: "Montserrat";
  font-size: 30px;
}

.main__history-of-agency-info-text {
  color: #60606e;
  font-family: "Open Sans";
  font-size: 16px;
  line-height: normal;
  margin-top: 5.02152%;
  margin-bottom: 28px;
  max-width: 541px;
  margin-right: 15px;
}

.main__history-of-agency-info-button {
  float: right;
  width: 29.8%;
  height: 17.3%;
  text-transform: uppercase;
  color: #60606e;
  font-family: "Montserrat";
  font-size: 14px;
  color: #ffffff;
  background-color: #7beec7;
  border: none;
  text-decoration: none;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.main__history-of-agency-info-button:hover {
  background-color: #18b5a4;
}

.main__history-of-agency-image {
  width: 100%;
  height: auto;
}

@media (max-width: 1300px) {
  .wrapper {
    padding-top: calc(10px + (43 - 10) * ((100vw - 320px) / (1300 - 320)));
    padding-right: calc(20px + (80 - 20) * ((100vw - 320px) / (1300 - 320)));
    padding-bottom: calc(12px + (49 - 10) * ((100vw - 320px) / (1300 - 320)));
    padding-left: calc(20px + (80 - 20) * ((100vw - 320px) / (1300 - 320)));
  }

  .backgroung-header::after {
    height: 885px;
  }

  .main__creative-agency {
    margin-top: 156px;
    margin-bottom: 123px;
  }

  .main__creative-agency-were {
    padding-top: 11px;
    padding-right: 21px;
    padding-bottom: 7px;
    padding-left: 21px;
  }

  .main__creative-agency-h1 {
    padding-top: 33px;
    padding-right: 46px;
    padding-bottom: 33px;
    padding-left: 46px;
    border: solid #60606e calc(1px + (7 - 1) * ((100vw - 320px) / (1300 - 320)));
  }

  .main__creative-agency-info {
    padding-top: 30px;
    padding-right: 9px;
    padding-left: 9px;
    max-width: 567px;
  }
}

@media (max-width: 1300px) and (max-width: 1300px) {
  .backgroung-header::after {
    height: calc( 221px + 664 * ((100vw - 320px) / 980));
  }

  .main__creative-agency {
    margin-top: calc( 26px + 130 * ((100vw - 320px) / 980));
  }

  .main__creative-agency {
    margin-bottom: calc( 30.7px + 92.3 * ((100vw - 320px) / 980));
  }

  .main__creative-agency-were {
    padding-top: calc( 4px + 7 * ((100vw - 320px) / 980));
  }

  .main__creative-agency-were {
    padding-right: calc( 8px + 13 * ((100vw - 320px) / 980));
  }

  .main__creative-agency-were {
    padding-bottom: calc( 3px + 4 * ((100vw - 320px) / 980));
  }

  .main__creative-agency-were {
    padding-left: calc( 8px + 13 * ((100vw - 320px) / 980));
  }

  .main__creative-agency-h1 {
    padding-top: calc( 8.2px + 24.8 * ((100vw - 320px) / 980));
  }

  .main__creative-agency-h1 {
    padding-right: calc( 11.5px + 34.5 * ((100vw - 320px) / 980));
  }

  .main__creative-agency-h1 {
    padding-bottom: calc( 8.2px + 24.8 * ((100vw - 320px) / 980));
  }

  .main__creative-agency-h1 {
    padding-left: calc( 11.5px + 34.5 * ((100vw - 320px) / 980));
  }

  .main__creative-agency-info {
    padding-top: calc( 7.5px + 22.5 * ((100vw - 320px) / 980));
  }

  .main__creative-agency-info {
    padding-right: calc( 2.2px + 6.8 * ((100vw - 320px) / 980));
  }

  .main__creative-agency-info {
    padding-left: calc( 2.2px + 6.8 * ((100vw - 320px) / 980));
  }

  .main__creative-agency-info {
    max-width: calc( 110.7px + 456.3 * ((100vw - 320px) / 980));
  }
}