.wrapper {
  max-width: 1300px;
  margin: 0 auto;
  padding: 43px 80px 49px 80px;
}

.green-rentangle {
  width: 69px;
  height: 22px;
  background-color: #7beec7;
}

* {
  padding: 0;
  margin: 0;
  bottom: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
menu,
section,
form {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

.backgroung-header::after {
  background-image: url("../img/background header.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: cover;
  height: 933px;
  content: "";
  opacity: 0.3;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__logo {
  text-transform: uppercase;
  color: #60606E;
  font-family: "Montserrat";
  font-size: 18px;
  -webkit-transform: translateY(30%);
      -ms-transform: translateY(30%);
          transform: translateY(30%);
}

.header__menu {
  -webkit-transform: translateY(15%);
      -ms-transform: translateY(15%);
          transform: translateY(15%);
}

.main__creative-agency {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main__creative-agency-were {
  background-color: #7beec7;
  text-transform: uppercase;
  color: #60606E;
  font-family: "Montserrat";
  font-size: 18px;
  padding: 11px 21px 7px 21px;
  margin-top: 173px;
}

.main__creative-agency-h1 {
  text-transform: uppercase;
  color: #60606E;
  font-family: "Montserrat";
  font-size: 48px;
  border: solid #60606e 7px;
  padding: 33px 47px;
  margin-bottom: 30px;
}

.main__creative-agency-info {
  color: #60606E;
  font-family: "Open Sans";
  font-size: 16px;
  line-height: 25px;
  max-width: 540px;
  text-align: center;
}

.main__history-of-agency {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 123px;
  margin-bottom: 149px;
}

.main__history-of-agency-info {
  margin: 31px 0px 80px 126px;
}

.main__history-of-agency-info-h1 {
  text-transform: uppercase;
  color: #60606E;
  font-family: "Montserrat";
  font-size: 30px;
}

.green-rentangle {
  margin-top: -15px;
}

.main__history-of-agency-info-text {
  color: #60606E;
  font-family: "Open Sans";
  font-size: 16px;
  line-height: 25px;
  margin-top: 28px;
  margin-bottom: 28px;
  max-width: 541px;
  margin-right: 15px;
}

.main__history-of-agency-info-button {
  float: right;
  width: 166px;
  height: 51px;
  text-transform: uppercase;
  color: #60606E;
  font-family: "Montserrat";
  font-size: 14px;
  color: #ffffff;
  background-color: #7beec7;
  border: none;
  text-decoration: none;
}

.main__history-of-agency-info-button:hover {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.main__why-choose-us {
  margin-bottom: 150px;
}

.main__why-choose-us-info {
  text-align: center;
}

.main__why-choose-us-info-h1 {
  text-transform: uppercase;
  color: #60606E;
  font-family: "Montserrat";
  font-size: 30px;
}

.main__why-choose-us-info-h1 div {
  margin-left: 38.51485%;
}

.green-rentangle {
  margin-top: -15px;
}

.main__why-choose-us-info-text {
  padding-top: 10px;
  padding-bottom: 101px;
  max-width: 717px;
  color: #60606E;
  font-family: "Open Sans";
  font-size: 16px;
  line-height: 25px;
  margin: 0 auto;
}

.main__why-choose-us-advantage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main__why-choose-us-advantage-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 20px;
  margin-bottom: 39px;
}

.main__why-choose-us-advantage-menu-unlimited,
.main__why-choose-us-advantage-menu-design,
.main__why-choose-us-advantage-menu-e-commerge,
.main__why-choose-us-advantage-menu-customizable-design {
  width: 341px;
  height: 200px;
}

.main__why-choose-us-menu-universal-h1 {
  text-transform: uppercase;
  color: #60606E;
  font-family: "Montserrat";
  font-size: 18px;
  margin-top: 19px;
  margin-bottom: 18px;
}

.main__why-choose-us-menu-universal-item {
  margin-bottom: 11px;
  color: #60606E;
  font-family: "Open Sans";
  font-size: 14px;
  line-height: 25px;
  text-transform: uppercase;
}

.main__why-choose-us-menu-universal-item:last-child {
  margin-bottom: 0;
}

.main__why-choose-us-advantage-menu-e-commerge,
.main__why-choose-us-advantage-menu-customizable-design {
  margin-top: 40px;
}

.main__our-portfolio {
  text-align: center;
}

.main__our-portfolio-info-h1 {
  text-transform: uppercase;
  color: #60606E;
  font-family: "Montserrat";
  font-size: 30px;
  padding-bottom: 29px;
}

.main__our-portfolio-info-h1 div {
  margin-left: 38.51485%;
}

.main__our-portfolio-info-text {
  color: #60606E;
  font-family: "Open Sans";
  font-size: 16px;
  line-height: 25px;
  padding-bottom: 101px;
  max-width: 765px;
  margin: 0 auto;
}

.green-rentangle {
  margin-top: -13px;
}

.main__our-portfolio-category {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main__our-portfolio-category-h1 {
  max-width: 170px;
  text-transform: uppercase;
  color: #60606E;
  font-family: "Montserrat";
  font-size: 30px;
  text-align: start;
  line-height: 50px;
  margin-bottom: 48px;
}

.green-rentangle {
  font-size: 14px;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
}

.green-rentangle p {
  font-family: "Montserrat";
  -webkit-transform: translateY(35%);
      -ms-transform: translateY(35%);
          transform: translateY(35%);
}

.main__our-portfolio-category-menu {
  text-align: start;
  margin-top: 34px;
  margin-left: 20px;
}

.main__our-portfolio-category-menu-item {
  text-transform: uppercase;
  color: #60606E;
  font-family: "Montserrat";
  font-size: 14px;
  margin-bottom: 30px;
}

.main__our-portfolio-category-menu-item:last-child {
  margin-bottom: 0;
}

.main__our-portfolio-category-gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.main__our-portfolio-category-gallery-image1 {
  width: 262px;
  height: 171px;
  margin-right: 30px;
  margin-bottom: 30px;
}

.main__our-portfolio-category-gallery-image2 {
  width: 263px;
  height: 175px;
  margin-right: 30px;
  margin-bottom: 26px;
}

.main__our-portfolio-category-gallery-image3 {
  width: 260px;
  height: 390px;
  margin-bottom: 30px;
}

.main__our-portfolio-category-gallery-image4 {
  width: 264px;
  height: 264px;
  margin-bottom: 30px;
  margin-right: 30px;
  margin-top: -220px;
}

.main__our-portfolio-category-gallery-image5 {
  width: 264px;
  height: 396px;
  margin-bottom: 30px;
  margin-right: 35px;
  margin-top: -220px;
}

.main__our-portfolio-category-gallery-image6 {
  width: 259px;
  height: 149px;
  margin-left: -3px;
  margin-bottom: 30px;
}

.main__our-portfolio-category-gallery-image7 {
  width: 263px;
  height: 394px;
  margin-right: 30px;
  margin-top: -130px;
}

.main__our-portfolio-category-gallery-image8 {
  width: 261px;
  height: 263px;
}

.main__our-portfolio-category-gallery-image9 {
  width: 261px;
  height: 149px;
  margin-left: 30px;
  margin-top: -27px;
}

.main__sending-form-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main__sending-form-wrapper::after {
  background-position: 0 0;
  content: "";
  height: 323px;
  opacity: 1;
  top: 3292px;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
  background-color: #7BEEC7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main__sending-form {
  margin-top: 154px;
  padding-top: 51px;
  padding-bottom: 50px;
}

.main__sending-form-button-h1 {
  max-width: 500px;
  margin-bottom: 28px;
  text-transform: uppercase;
  color: #60606E;
  font-family: "Montserrat";
  font-size: 30px;
  line-height: 50px;
  color: #FFFFFF;
}

.main__sending-form-button-button {
  width: 166px;
  height: 51px;
  text-transform: uppercase;
  color: #60606E;
  font-family: "Montserrat";
  font-size: 14px;
  color: #7BEEC7;
  background-color: #ffffff;
  border: none;
  text-align: center;
  cursor: pointer;
}

.main__sending-form-button-button:hover {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.main__sending-form-email {
  padding: 21px 26px 18px 27px;
  background-color: #fff;
}

.main__sending-form-email-h1 {
  text-transform: uppercase;
  color: #60606E;
  font-family: "Montserrat";
  font-size: 24px;
  margin-bottom: 18px;
  line-height: 37px;
}

.main__sending-form-email-text {
  max-width: 472px;
  color: #60606E;
  font-family: "Open Sans";
  font-size: 16px;
  line-height: 25px;
  margin-bottom: 28px;
}

.main__sending-form-email-button {
  float: right;
  width: 32.8%;
  height: 51px;
  text-transform: uppercase;
  color: #60606E;
  font-family: "Montserrat";
  font-size: 14px;
  color: #ffffff;
  background-color: #7beec7;
  border: none;
}

.main__sending-form-email-button:hover {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.main__sending-form-email-email {
  width: 67.2%;
  border-color: #60606E;
  height: 51px;
}

.main__sending-form-email-email::-webkit-input-placeholder {
  text-transform: uppercase;
  color: #60606E;
  font-family: "Montserrat";
  font-size: 12px;
  padding-left: 10px;
}

.main__sending-form-email-email::-moz-placeholder {
  text-transform: uppercase;
  color: #60606E;
  font-family: "Montserrat";
  font-size: 12px;
  padding-left: 10px;
}

.main__sending-form-email-email:-ms-input-placeholder {
  text-transform: uppercase;
  color: #60606E;
  font-family: "Montserrat";
  font-size: 12px;
  padding-left: 10px;
}

.main__sending-form-email-email::-ms-input-placeholder {
  text-transform: uppercase;
  color: #60606E;
  font-family: "Montserrat";
  font-size: 12px;
  padding-left: 10px;
}

.main__sending-form-email-email::placeholder {
  text-transform: uppercase;
  color: #60606E;
  font-family: "Montserrat";
  font-size: 12px;
  padding-left: 10px;
}

.footer {
  padding-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: '-';
  margin-left: -15px;
}

.footer__nav-link {
  color: #60606E;
  font-family: "Open Sans";
  font-size: 14px;
  line-height: 25px;
  text-transform: uppercase;
  padding-right: 15px;
}

.footer__nav-link:first-child {
  list-style: none;
}

.footer__nav-link::before {
  content: "   ";
  margin-right: 15px;
}

.footer__author {
  color: #60606E;
  font-family: "Open Sans";
  font-size: 14px;
  line-height: 25px;
  text-transform: uppercase;
  margin-bottom: 29px;
}

.footer__social-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.footer__social-icons-item {
  cursor: pointer;
  margin-left: 17px;
}