.wrapper {
  margin: 0 auto;
  @include adaptiv-value("max-width", 1300, 325, 1300, 0);
  @include adaptiv-value("padding-top", 43, 11, 1300, 0);
  @include adaptiv-value("padding-right", 80, 20, 1300, 0);
  @include adaptiv-value("padding-bottom", 49, 12.5, 1300, 0);
  @include adaptiv-value("padding-left", 87, 20, 1300, 0);
}

.backgroung-header::after {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  @include adaptiv-value("height", 865, 217, 1300, 0);
  background-image: url("../img/background header.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: cover;
  opacity: 0.3;
  content: "";
}
.header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.header::before {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100px;
  content: "";
}
.header__logo {
  z-index: 2;
  @include fontsH1("Montserrat", calc(4px + (18 - 4) * ((100vw - 320px) / (1300 - 320))));
}
.header__burger {
  position: relative;
  display: block;
  @include adaptiv-value("width", 31, 7.75, 1300, 0);
  @include adaptiv-value("height", 15, 3.75, 1300, 0);
  align-items: center;
  cursor: pointer;
}
.header__burger:hover {
  color: #60606e;
  transform: rotate(360deg);
  transition-duration: 1s;
}
.header__burger::before,
.header__burger::after {
  position: absolute;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #60606e;
  content: "";
}
.header__burger::after {
  bottom: 0;
  @include adaptiv-value("width", 23, 5.75, 1300, 0);
}
.header__burger::before {
  top: 0;
}
.header__burger span {
  position: absolute;
  left: 0;
  @include adaptiv-value("width", 15, 3.75, 1300, 0);
  @include adaptiv-value("top", 7, 1.75, 1300, 0);
  height: 1px;
  background-color: #60606e;
}
