.footer {
   padding-top: 50px;
   display: flex;
   justify-content: space-between;
}
.footer__nav {
   display: flex;
   list-style-type: '-';
   margin-left: -15px;
}
.footer__nav-link {
   @include fontsText("Open Sans", 14px);
   text-transform: uppercase;
   padding-right: 15px;

   &:first-child {
      list-style: none;
   }
   &::before{
      content: "   ";
      margin-right: 15px;
   }
}
.footer__author {
   @include fontsText("Open Sans", 14px);
   text-transform: uppercase;
   margin-bottom: 29px;
}
.footer__social-icons {
   display: flex;
   justify-content: flex-end;
}
.footer__social-icons-item {
   cursor: pointer;
   margin-left: 17px;
}