.main__card {
  padding-top: 10px;
}
.main__card img {
  width: 350px;
  height: 261px;
}
.main__create-card {
  padding-top: 10px;
  width: 350px;
  height: 335px;
}
.main__create-card input {
  margin-top: 20px;
}
